@tailwind base;
@tailwind components;
@tailwind utilities;

.contenedor {
    max-width: 1000px;
    width: 90%;
}
.logo {
    margin: 0 auto;
} 
.icono-social {
    top: 6px;
    left: 7.5px;
    width: 25px;
    filter: invert(52%) sepia(53%) saturate(6001%) hue-rotate(210deg) brightness(102%) contrast(90%);
}
a:hover > img {
    filter: unset;
}
a:nth-child(1) > img {
    width: 16px;
    top: 7px;
    left: 11px;
}
.attribution {
    font-size: 16px;
}
button {
    box-shadow: 0px 5px 10px -4px hsl(223, 87%, 63%);
}
.mensaje {
    font-style: italic;
    text-align: center;
    font-size: 16px;
    color: hsl(354, 100%, 66%);
}
.exito {
    font-style: italic;
    text-align: center;
    font-size: 16px;
    color: hsl(135, 83%, 45%);
}
@media (min-width: 768px) {
    .mensaje, .exito {
        position: absolute;
        margin-left: 28px;
    }
}